doctype
html
  head
    title Costumer
  body
    Costumer Create
    form(id='form', method='post', action='/costumer/create')
      name
      input(type='text', id='name', name='name')

      email
      input(type='text', id='email', name='email')

      input(type='submit',value='Add Costumer')
